<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <!-- <p>Data: {{ restaurant }}</p> -->

        <div id = "restaurant-box">
            <img id = "boxR-image" src = {{ restaurant.get("image_url") }}>
            <label id = "boxR-title">{{ restaurant.get("name") }}</label>

            <label id = "boxR-address"> {{ restaurant.get("display_address") }} </label>
            <label id = "boxR-price">Price: {{ restaurant.get("price") }}</label>
            <!-- {% if 'price' in restaurant %}
                <label id = "boxR-price">Price: {{ restaurant.get("price") }}</label>
            {% else %}
                <label id = "boxR-price">Price: Not available</labeL>
            {% endif %} -->
            <!-- <labeL> Price : </labeL> -->
            <label id = "boxR-ratings"> Ratings : {{restaurant.get("rating")}}</label>
            <label id = "boxR-reviews"> #Review Counts : {{restaurant.get("review_count")}}</label>

        </div>
        <!-- <p>Search location: {{location}}</p>
        <p>Search term: {{search_term or 'None Specified'}}</p>
        <p>Data: {{ restaurant }}</p>
        <h2>Top Restaurant:</h2> 
        <p>Name: {{ restaurant.get('name') }}</p> -->
    </main>
</body>
</html>

