body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/*
Add some style blocks below this line to style the card.
*/
h2 {
    font: bold;
}

#card-view {
    border: dotted 1px #CCC; 
    width: 350px;
    height: 450px;   
}

h2 {
    margin-left: 2ch;
}

img {
    max-width: 100%;
}

p {
    font: large;
    margin-left: 2ch;
    margin-right: 2ch;
}

button {
    margin-left: 2ch;
}
